<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      required: true,
      type: Object,
    },
  },
});
</script>

<template>
  <div style="background: #f6f3fe">
    <SlpContainer>
      <SlpRow class="slp-pt-48 slp-pt-md-160">
        <SlpColumn :cols="2" />
        <SlpColumn :cols="5">
          <SlpTypography
            class="slp-pb-64"
            tag="h2"
            variant="heading2-bold"
            data-aos="fade-up"
            data-aos-duration="800"
          >
            {{ data.feature_heading }}
          </SlpTypography>
        </SlpColumn>
      </SlpRow>
      <SlpRow class="slp-pb-160">
        <SlpColumn :cols="2" />
        <SlpColumn :cols="10" class="feature-benefit__content">
          <div
            v-for="(card, index) in data.feature_cards"
            :key="card.feature_name"
            style="background: white; padding: 32px"
            data-aos="fade-right"
            :data-aos-duration="index * 800"
          >
            <div class="slp-flex">
              <img
                class="slp-mr-16"
                style="height: 32px"
                :src="`/nuxt-images/icons/${card.feature_icon}`"
                alt=""
              />
              <SlpTypography class="slp-pb-16" tag="h3" variant="heading4-bold">
                {{ card.feature_name }}
              </SlpTypography>
            </div>
            <SlpTypography class="slp-pb-24" tag="p" variant="heading5">
              {{ card.feature_description }}
            </SlpTypography>
            <div
              v-for="item in card.feature_list"
              :key="item"
              class="slp-flex slp-pl-16 slp-pb-16"
              style="align-items: center"
            >
              <img src="/nuxt-images/icons/check.svg" alt="" />
              <SlpTypography class="slp-pl-16" tag="h4" variant="heading5">
                {{ item }}
              </SlpTypography>
            </div>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.feature-benefit {
  &__content {
    display: grid;
    grid-gap: 2rem;

    @media (min-width: $breakpoint-md) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
</style>
