<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  SlpContainer,
  AnchorDropdown,
  CTA as CallToAction,
  Copy,
} from '../../components/common/index.vue';
import { SideMenu } from '../../components/side-menu/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    Copy,
    AnchorDropdown,
    SideMenu,
    SlpContainer,
    // eslint-disable-next-line vue/no-unused-components
    CallToAction,
  },
  async asyncData({ $content, error }) {
    try {
      const support = await $content('support/index').fetch();
      return { support };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).support, this.$route.path);
  },
  mounted() {
    const { sideMenu } = this.$refs;
    document.addEventListener('scroll', () => {
      if (window.scrollY >= 15894.5) {
        sideMenu.$el.classList.add('side-menu-bottom');
      } else {
        sideMenu.$el.classList.remove('side-menu-bottom');
      }
    });
  },
});
</script>

<template>
  <div class="support">
    <SideMenu
      v-if="support.side_menu"
      ref="sideMenu"
      :links="support.side_menu.links"
    />

    <SlpContainer>
      <anchor-dropdown
        :options="support.side_menu.links"
        fixed
        label="On this page: "
      />
      <SlpColumn :cols="10" size="xl" class="slp-card slp-mt-96">
        <component
          :is="component.name"
          v-for="component in support.components"
          :key="component.name"
          :data="component.data"
        />
      </SlpColumn>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.support {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.side-menu-bottom {
  position: absolute !important; /* important flag overrides component styles that we want in place for this specific page */
  top: auto !important;
  bottom: 0;
  right: 0;
}
</style>
