<script lang="ts">
import Vue from 'vue';
import CarouselWrap from './by-industry-carousel-wrap.vue';
import CaseStudyQuote from './by-industry-case-study-quote.vue';
import { numberToDigitString } from '~/common/util';
import ChevronLg from '~/static/nuxt-images/ico/chevron-lg.vue';

export default Vue.extend({
  name: 'ByIndustryQuotesCarousel',
  components: { CarouselWrap, CaseStudyQuote, ChevronLg },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      step: 0,
    };
  },
  computed: {
    formattedStep() {
      return `${numberToDigitString(this.step + 1)} - ${numberToDigitString(
        this.data.quotes.length,
      )}`;
    },
    singleQuote(): boolean {
      return this.data.quotes.length === 1;
    },
  },
  methods: {
    goNext() {
      this.$refs.carousel.next();
      this.step = this.step >= this.data.quotes.length - 1 ? 0 : this.step + 1;
    },
    goPrev() {
      this.$refs.carousel.prev();
      this.step = this.step <= 0 ? this.data.quotes.length - 1 : this.step - 1;
    },
  },
});
</script>

<template>
  <section
    class="quotes-carousel"
    :class="{ 'no-background': data.no_background, 'no-padding': singleQuote }"
  >
    <SlpContainer>
      <div class="quotes-carousel__header">
        <SlpTypography v-if="data.header" tag="h2" variant="heading2-bold"
          ><span v-html="data.header"></span>
        </SlpTypography>
      </div>
      <CarouselWrap ref="carousel" :items="data.quotes">
        <template #content>
          <template v-if="$refs.carousel">
            <CaseStudyQuote
              v-for="quoteNumber in $refs.carousel.itemIndexes"
              :key="`quote-${quoteNumber}`"
              class="quotes-carousel__quote"
              :data="data.quotes[quoteNumber]"
              :data-ga-carousel="data.quotes[quoteNumber].ga_carousel"
            />
          </template>
        </template>
      </CarouselWrap>
      <div v-if="!singleQuote" class="quotes-carousel__footer">
        <SlpTypography tag="span" variant="body1">{{
          formattedStep
        }}</SlpTypography>
        <div>
          <SlpButton variant="icon" aria-label="Prev" @click.native="goPrev()">
            <chevron-lg direction="left" />
          </SlpButton>
          <SlpButton variant="icon" aria-label="Next" @click.native="goNext()">
            <chevron-lg class="slp-ml-8" direction="right" />
          </SlpButton>
        </div>
      </div>
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.quotes-carousel {
  padding: $spacing-96 0;
  background-color: $color-surface-800;
  margin-top: $spacing-160;
  &.no-background {
    background-color: transparent;
  }
  &.no-padding {
    padding: 0;
  }

  @media (max-width: $breakpoint-md) {
    padding: $spacing-48 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding-bottom: $spacing-32;
    border-bottom: 2px solid $color-surface-400;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &::v-deep a {
      @media (max-width: $breakpoint-md) {
        padding-left: 0;
      }
    }
  }

  &__quote {
    display: inline-flex;
    margin-right: $spacing-16;
    flex: 0 0 100%;
  }

  &__footer {
    display: flex;
    border-top: 2px solid $color-surface-400;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-16 0;
  }
}
</style>
